@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  letter-spacing: 0.15em;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "petrona";
  src: url("/fonts/Petrona-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 400 600 900;
  font-style: normal;
}

@font-face {
  font-family: "mono";
  src: url("/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.rotate-x-0 {
  transform: rotateX(0deg);
}

.radix-themes {
  --default-font-family: "satoshi", sans-serif;
  --heading-font-family: "satoshi", sans-serif;
  --code-font-family: "satoshi", sans-serif;
  --strong-font-family: "satoshi", sans-serif;
  --em-font-family: "satoshi", sans-serif;
  --quote-font-family: "satoshi", sans-serif;
}

h1,
h2,
h3 {
  letter-spacing: 0.2em;
  color: #308b7b;
}

h1 {
  font-size: 1.35em;
  line-height: 2rem;
}

body {
  color: #50b09f;
  font-family: "satoshi", sans-serif;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8dad0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d5cb2c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2c720;
}

.custom-range {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 100%; /* Full width */
  height: 8px; /* Height of the track */
  background: #efe5db; /* Track color */
  border-radius: 5px; /* Rounded track */
}

/* Style the thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Add standard property for compatibility */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.custom-range::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #50b09f; /* Thumb color */
  box-shadow: 3px 3px 0 rgba(210, 199, 32, 1);
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the track for Firefox */
.custom-range::-moz-range-track {
  background: #efe5db; /* Track color */
  height: 8px; /* Height of the track */
  border-radius: 5px; /* Rounded track */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rounded-4xl {
    border-radius: 3.5rem;
  }
  .tracking-extra-wide {
    letter-spacing: 0.2em;
  }
  .scrollbar-thumb-rounded-full {
    --scrollbar-thumb-radius: 9999px;
  }
}
