@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  letter-spacing: 0.15em;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.radix-themes {
  --default-font-family: "satoshi", sans-serif;
  --heading-font-family: "satoshi", sans-serif;
  --code-font-family: "satoshi", sans-serif;
  --strong-font-family: "satoshi", sans-serif;
  --em-font-family: "satoshi", sans-serif;
  --quote-font-family: "satoshi", sans-serif;
}

h1,
h2,
h3 {
  letter-spacing: 0.2em;
  color: #308b7b;
}

h1 {
  font-size: 1.35em;
  line-height: 2rem;
}

body {
  color: #50b09f;
  font-family: "satoshi", sans-serif;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8dad0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d5cb2c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2c720;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rounded-4xl {
    border-radius: 3.5rem;
  }
  .tracking-extra-wide {
    letter-spacing: 0.2em;
  }
  .scrollbar-thumb-rounded-full {
    --scrollbar-thumb-radius: 9999px;
  }
}
